.ben-image__img {
  display: block;
  width: 50%; }


.nhsuk-card--clickable:hover {
    border-color: #aeb7bd;
}

.nhsuk-card--clickable {
    border-bottom-width: 4px;
}

@media (min-width: 40.0625em)
.nhsuk-card {
    margin-bottom: 48px;
}
.nhsuk-card {
    margin-bottom: 40px;
    background: #fff;
    border: 1px solid #d8dde0;
    position: relative;
    width: 100%;
}


.nhsuk-card__img {
    border-bottom: 1px solid #f0f4f5;
    display: block;
    width: 100%;
}


@media (min-width: 40.0625em)
.nhsuk-card__content {
    padding: 32px;
}

.nhsuk-card__content {
    padding: 24px;
    position: relative;
}

.nhsuk-tag--green {
    background-color: #cce5d8;
    border-color: #004c23;
    border-top-color: rgb(0, 76, 35);
    border-right-color: rgb(0, 76, 35);
    border-bottom-color: rgb(0, 76, 35);
    border-left-color: rgb(0, 76, 35);
    color: #004c23;
}

.nhsuk-tag {
    font-weight: 600;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1;
    background-color: #cce5d8;
    border: 1px solid #004c23;
    color: #004c23;
    display: inline-block;
    outline: 2px solid transparent;
    outline-offset: -2px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    text-decoration: none;
}